@media (max-width: 767.98px){
    .texto{font-size: 1rem !important;}
}

.conteudo-xxl {
    background: #fff;
}
.category {
    padding-top: 20px;
}
.category p {
    background: #1c8758;
    max-width: 400px;
    font-size: 32px;
    color: #fff;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.conteudo-xxl hr {
    margin-top: -20px;
    position: absolute;
}
.conteudo-card {
    padding: 10px 0;
    max-width: 500px;
    width: 100%;
    display: flex;
}
.blog-information > ul{ list-style: none;}
.conteudo-card .card-image {
    max-width: 70px;
    height: 70px;
    border-radius: 50%;
    display: grid;
}
.conteudo-card .card {
    display: grid;
    padding: 0px 10px;
}
.card .card-title {
    font-size: 18px;
    color: #1c8758;
    margin: 7px 0;
}
.card .card-text {
    font-size: 15px;
    color: black;
    display: inline;
    margin: 0;
}

.conteudo-imagem {
    margin-top: 60px;
    justify-content: center;
}
.card-image{object-fit: cover;}
.conteudo-imagem .imagem-inicial {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}
.conteudo-imagem .descricao {
    margin: 0 2.5%;
    font-size: 20px;
    margin-bottom: 60px;
}
.conteudo-texto {
    justify-content: center;
}
.conteudo-texto .texto {
    font-size: 1.25rem
}
.conteudo-titulo {
    margin-left: 1.5rem;
    font-size: 40px;
}
.autor-xxl {
    background: #d6cda4;
    justify-content: center;
}
.autor-xxl .autor-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.autor .autor-title {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 32px;
    margin: 7px 0;
}
.autor{    width: 70%;
    min-width: 300px;}
.autor .autor-descricao {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.autor .autor-text {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 90%;
}
.relacionados-xxl {
    height: 800px;
}
.relacionados-xxl h1 {
    font-size: 40px;
    margin-left: 2.5%;
}
.comment-list{
    list-style: none;
}
.user-image {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
}
.btn-sample{
    border-radius: 100px;
    padding: 5px 20px;
    border: none;
    margin: 5px;
}
p:focus-visible, textarea:focus-visible{
    outline: 1px solid black;
    border-bottom: 3px solid var(--primary);
}
.btn-save{
    background: var(--primary);
    color: white;
}
.btn-cancel{
    background-color: #d6cda4;
    color: rgb(51, 51, 51);
}
.btn-sample:hover{
    outline: 1px solid black;
}
.btn-icon{
    background: none;
    color: var(--primary);
    font-weight: 500;
    border: none;
    padding: 0px 10px;
}
.input-reply{justify-content: center; border-bottom: 2px solid var(--bs-dark-text-emphasis);
    padding: 30px;}
.comment-section{
    padding: 3ch !important;
}
.comment-container{
    width: calc(100% - 110px);
    min-width: 300px;
}
.comment-section textarea{
    width: 100%;
    resize: none;
    background: none;
    border-radius: 5px;
    padding: 5px;
    color: black;
}
.comment-container > .focused{
    height: 140px;
    padding-bottom: 50px;
}
.btn-icon:hover{
    color: black;
}