

.result{
    max-width: 850px;
    width: 100%;
}
.result > .image{
    width: 310px;
    position: relative;
}
.image > img{
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}
.image > .category{
    position: absolute;
    z-index: 2;
    background: var(--primary);
    color: white;
    width: 250px;
    bottom: 10px;
    left: 140px;
}
.result > .text{
    width: calc(100% - 310px);
    padding-bottom: 40px;
    min-width: 300px;
}
.search-container{
    background: var(--primary);
}
.search-input{
    width: 80%;
    font-size: 24px !important;
    color: white !important;
    border-bottom: 2px solid white !important;
}
.search-input:focus-visible{
    outline: none;
    border-bottom: 3px solid var(--bs-secondary-bg) !important;
}
.btn-white{
    color: white !important;
    border: 2px solid white !important;
}
.btn-white:hover{
    background-color: white !important;
    color: var(--primary) !important;
}